[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
"flake8" = "*"
pycodestyle = "*"
pyflakes = "*"
pylint = ">*"
yapf = "*"
cryptography = "*"
pyyaml = ">=3.11"
tox = "*"
pytest = "*"
"autopep8" = "*"
twine = "*"
pytest-mock = "*"
pyfakefs = "*"
scandir = "*"
travis-encrypt = "*"

[packages]
pbr = ">=3.0"
pipenv = "*"
